* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}
.container_main {
    margin: 0 auto;
    max-width: 1440px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F6F6F6;
}

.header_banner {
    background-image: url(img/bannerfoto.png);
    height: 940px;
    width: 1439px;
    background-size: 1440px 940px;
    background-repeat: no-repeat;
}

.h_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
}

.h_menu {
    display: flex;
    gap: 80px;
}

.h_menu_link {
    color: #FFF;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.h_actions {
    display: flex;
    gap: 25px;
    align-items: center;
}

.sign_in {
    color: #FFF;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.sign_up {
    border-radius: 100px;
    background: linear-gradient(130deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFF;
    color: #FFF;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 13px 44px;

}

.explore {
    padding: 11px 30px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.25);

    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: fit-content;
    margin-bottom: 7px;
    margin-top: 95px;
}



/* баннер */
.banner_title {
    color: #FFF;
    font-family: Poppins;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 592px;
    margin-bottom: 30px;
}

.banner_text {
    color: #FFF;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 519px;
    opacity: 0.5;
    margin-bottom: 70px;
}

.banner_button {
    border-radius: 27px;
    background: linear-gradient(130deg, #FF7B4E 15.57%, #FF584E 95.03%);
    padding: 27px 47px;
    color: #FEFEFE;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


/* отзывы */
.reviews {
    padding: 100px 0 115px 0;

}

.r-content {
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: center;
}

.r-title {
    color: #0F1F1C;
    font-family: Poppins;
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 565px;
    margin-bottom: 35px;
}

.name {
    color: #0F1F1C;
    font-family: Poppins;
    font-size: 33px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px;

}

.country {
    color: #0F1F1C;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    opacity: 0.5;

}

.comment {
    color: #0F1F1C;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 491px;
    opacity: 0.5;
    margin-bottom: 30px;
}

.reviewer {
    margin-bottom: 60px;
    display: flex;
    gap: 33px;
    align-items: center;
}




/* destinations */
.d_content {
    display: flex;
    gap: 40px;
    padding-top: 96px;
    padding-bottom: 100px;
}

.d_main {
    padding-left: 100px;
}

.choice {
    color: #0F1F1C;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.d_title {
    color: #0F1F1C;
    font-family: Poppins;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 15px;
}

.d-text {
    color: #0F1F1C;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    opacity: 0.5;
    width: 456px;
    margin-bottom: 60px;
}

.d_button {
    border-radius: 27px;
    background: linear-gradient(130deg, #FF7B4E 15.57%, #FF584E 95.03%);
    padding: 25px 45px;

    color: #FEFEFE;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    width: max-content;
}

.d_fotos {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 835px;
    overflow-x: hidden;

}

.d_fotos_arrow {
    position: relative;
    z-index: -100;
}

.left_arrow {
    position: absolute;
    bottom: 56px;
    left: -27px;
    z-index: 100;
    top: 186px;
}

.d_foto {
    width: 100%;
}


/* Prepare */
.prepare {
    padding: 115px 0 67px 0;
}

.p_button {
    border-radius: 27px;
    background: linear-gradient(130deg, #FF7B4E 15.57%, #FF584E 95.03%);
    padding: 25px 55px;

    color: #FEFEFE;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    width: max-content;
}

.p_title {
    color: #0F1F1C;
    text-align: center;
    font-family: Poppins;
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 520px;
    margin-bottom: 30px;
}

.p_text {
    width: 715px;
    color: #0F1F1C;
    text-align: center;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
    margin-bottom: 60px;
}

.p_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 116px 0;
}

.ellipse1 {
    position: absolute;
    bottom: 56px;
    left: 74px;
}

.ellipse2 {
    position: absolute;
    right: 80px;
    top: 74px;
}



/* форма подписки на рассылку */
.s_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 67px 0 116px 0;
}

.s_title {
    color: #0F1F1C;
    text-align: center;
    font-family: Poppins;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 72px;
    width: 494px;
}

input[type="submit"] {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 35px;
    background: linear-gradient(130deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFF;
    padding: 34px 96px;
    width: max-content;
    border: none;
}

input[type="text"]::placeholder {
    color: #0F1F1C;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    opacity: 0.5;
}

input[type="text"] {
    height: 105px;
    border: none;
    align-items: center;
    display: flex;
    padding: 35px 44px;
    width: 450px;
    


    color: #0F1F1C;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

input[type="text"]:focus {
    border: none;
}

.form {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}


/* футер */

.f_content {
    padding-bottom: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
}

.f_menu_link {
    color: #0F1F1C;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    opacity: 0.5;
}

.f_actions {
    display: flex;
    gap: 66px;
    align-items: center;
}

.sign_up_f {
    border-radius: 100px;
    background: linear-gradient(0deg, #FF7C4E 0%, #FF7C4E 100%), #C4C4C4;
    padding: 13px 44px;
    width: max-content;


    color: #FFF;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.sign_in_f {
    color: #838B89;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}



/* 
@media screen and (max-width:375px) {
    .container{
        max-width: 350px;
        margin: 0 auto;
    }
} */


